.startForm {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  margin: 15px 0px;
  border-radius: 10px;
  border-width: 1px;
  border-color: darkgray;
}

.formSwitch {
  padding: 0px 10px;
}
.formTimeStartSwitch {
  display: flex;
  align-items: center;
}
.formTime {
  padding: 0px 10px;
}
