.heading {
  background-color: #e4eaee;
  color: #999;
  padding: 10px;
  border: 1px solid #c6d2d9,
}

.itemInList {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.itemInList .itemInListLeft {
    display: flex;
    justify-content: space-between;
    width: 100px;
}