.photo-upload {
  display: flex;
  align-items: center;
}

.photo-upload .current-image {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
  border-radius: 50%;
}

.image-text {
  font-size: 300%;
}
.upload-button {
  margin-left: 10px;
}

.errorborder {
  border: 2px solid #ff6565;
}

#settings-form {
  width: 90%;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: 786px) {
    width: 50%;
  }
}

